<label>Server Name</label>
<!--<input
  class="form-control"
  (input)="updateServerName($event)"
/>-->

<input
  class="form-control"
  [(ngModel)]="serverName"
/>
<p>{{ serverName }}</p>

<button
  class="btn btn-primary"
  [disabled] = "!allowNewServer"
  (click)= "onCreateServer()">
  Add Servers
</button>
<hr>
<p *ngIf="isServerCreated; else noServer" class="alert-success">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p class="alert-danger">No server is created.</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
