<div class="row">
  <div class="col-xs-12">
    <h1 style="text-align: center">{{ recipe.name }}</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img
      alt="" class="img-responsive" height="200px" src="{{ recipe.imagePath }}" width="200px">
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12">
    <div appDropdownDirective class="btn-group">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 20px;">
    {{ recipe.description }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12"  style="text-align: center">
    <div class="list-group">
      <ul>
        <li
          *ngFor="let ingredient of recipe.ingredients"
          class="list-group-item">
          Ingredient: {{ ingredient.name }}
          <p>amount: {{ ingredient.amount}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
